*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
.env
/.bundle
/vendor/bundle
.rvmrc
/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv
.byebug_history
.idea/*
.idea
public/uploads/*
public/uploads
Gemfile.lock

!public/uploads/SampleDocument.pdf
!public/uploads/SampleDocument.xml
!public/uploads/SampleNFe.xml
!public/uploads/01.pdf
!public/uploads/02.pdf
!public/uploads/03.pdf
!public/uploads/04.pdf
!public/uploads/05.pdf
!public/uploads/06.pdf
!public/uploads/07.pdf
!public/uploads/08.pdf
!public/uploads/09.pdf
!public/uploads/10.pdf
!public/uploads/11.pdf
!public/uploads/12.pdf
!public/uploads/13.pdf
!public/uploads/14.pdf
!public/uploads/15.pdf
!public/uploads/16.pdf
!public/uploads/17.pdf
!public/uploads/18.pdf
!public/uploads/19.pdf
!public/uploads/20.pdf
!public/uploads/20.pdf
!public/uploads/21.pdf
!public/uploads/22.pdf
!public/uploads/23.pdf
!public/uploads/24.pdf
!public/uploads/25.pdf
!public/uploads/26.pdf
!public/uploads/27.pdf
!public/uploads/28.pdf
!public/uploads/29.pdf
!public/uploads/30.pdf