*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
.env
/.bundle
/vendor/bundle
.rvmrc
/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv
.byebug_history
.idea/*
.idea
public/uploads/*
public/uploads
Gemfile.lock

!public/uploads/SampleDocument.pdf
!public/uploads/SampleDocument.xml
!public/uploads/SampleNFe.xml
!public/uploads/EventoManifesto.xml
!public/uploads/00.pdf
!public/uploads/01.pdf
!public/uploads/02.pdf
!public/uploads/03.pdf
!public/uploads/04.pdf
!public/uploads/05.pdf
!public/uploads/06.pdf
!public/uploads/07.pdf
!public/uploads/08.pdf
!public/uploads/09.pdf