*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
.env
/.bundle
/vendor/bundle
.rvmrc
/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv
.byebug_history
.idea/*
.idea
public/uploads/*
public/uploads
Gemfile.lock

!public/uploads/SampleDocument.pdf
!public/uploads/SampleDocument.xml
!public/uploads/SampleNFe.xml