.vs/
bin
obj
lib
*.user
CoreWebApp/App_Data/*
!CoreWebApp/App_Data/SampleDocument.pdf
!CoreWebApp/App_Data/SampleDocument.xml
!CoreWebApp/App_Data/SampleNFe.xml
!CoreWebApp/App_Data/PdfStamp.png
!CoreWebApp/App_Data/00.pdf
!CoreWebApp/App_Data/01.pdf
!CoreWebApp/App_Data/02.pdf
!CoreWebApp/App_Data/03.pdf
!CoreWebApp/App_Data/04.pdf
!CoreWebApp/App_Data/05.pdf
!CoreWebApp/App_Data/06.pdf
!CoreWebApp/App_Data/07.pdf
!CoreWebApp/App_Data/08.pdf
!CoreWebApp/App_Data/09.pdf

