{% extends "layout.html" %}

{% block content %}
<div class="container">

	<h2>Full XML Signature</h2>

	<form id="signForm" action="/xml-signature/action" method="post">
		<!-- render the $token in a hidden input field -->
		<input type="hidden" id="token" name="token" value="{{token}}">

		<div class="form-group">
			<label>File to sign</label>
			<p>You are signing this <b>entire</b> <a href='/static/SampleDocument.xml'>sample XML</a>.</p>
		</div>

		<!-- Render a select (combo box) to list the user's certificates. For now it will be empty, we'll populate it
		later on (see javascript below).
		 -->
		<div class="form-group">
			<label for="certificateSelect">Choose a certificate</label>
			<select id="certificateSelect" class="form-control"></select>
		</div>
		<!-- Action buttons. Notice that the "Sign File" button is NOT a submit button. When the user clicks the button,
		we must first use the Web PKI component to perform the client-side computation necessary and only when
		that computation is finished we'll submit the form programmatically (see javascript below).
		 -->
		<button id="signButton" type="button" class="btn btn-primary">Sign File</button>
		<button id="refreshButton" type="button" class="btn btn-default">Refresh Certificates</button>
	</form>

</div>
<script src="/static/js/signature-form.js"></script>
{% endblock %}