<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="head"></head>
<body>

<div th:replace="menu"></div>

<div class="container">

	<h2>Open signatures on an existing XML file</h2>

	<h3>The given file contains <span th:text="${signatures.size()}"/> signatures:</h3>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div th:each="signer,iterStat : ${signatures}" class="panel panel-default">
			<div class="panel-heading" role="tab" th:id="'signer_' + ${iterStat.index} + '_heading'">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" th:href="'#signer_' + ${iterStat.index} + '_collapse'" aria-expanded="true" th:aria-controls="'signer_' + ${iterStat.index} + '_collapse'">
						<span th:text="${signer.getCertificate().getSubjectName().getCommonName()}"/>
						<span th:if="${signer.getValidationResults() != null}">
							-
							<span th:if="${signer.getValidationResults().isValid()}" style="color: green; font-weight: bold;">valid</span>
							<span th:if="${!signer.getValidationResults().isValid()}" style="color: red; font-weight: bold;">invalid</span>
						</span>
					</a>
				</h4>
			</div>
			<div th:id="'signer_' + ${iterStat.index} + '_collapse'" class="panel-collapse collapse" role="tabpanel" th:aria-labelledby="'signer_' + ${iterStat.index} + '_heading'">
				<div class="panel-body">
					<p>Type: <span th:text="${signer.getType()}"/></p>
					<p th:if="${signer.getSignedElement()}">
						Signed element: <span th:text="${signer.getSignedElement().getLocalName()}"/>
						<text th:if="${signer.getSignedElement().getNamespaceUri()}"> (xmlns: <span th:text="${signer.getSignedElement().getNamespaceUri()}"/>)</text>
					</p>
					<p>Signing time: <span th:text="${signer.getSigningTime()}"/></p>
					<p th:if="${signer.getSignaturePolicy()}">
						Signature policy: <span th:text="${signer.getSignaturePolicy().getOid()}"/>
					</p>
					<p>
						Signer information:
						<ul>
							<li>Subject: <span th:text="${signer.getCertificate().getSubjectName().getCommonName()}"/>
							</li>
							<li>Email: <span th:text="${signer.getCertificate().getEmailAddress()}"/>
							</li>
							<li>
								ICP-Brasil fields
								<ul>
									<li>Tipo de certificado: <span th:text="${signer.getCertificate().getPkiBrazil().getCertificateType()}"/></li>
									<li>CPF: <span th:text="${signer.getCertificate().getPkiBrazil().getCpfFormatted()}"/></li>
									<li>Responsavel: <span th:text="${signer.getCertificate().getPkiBrazil().getResponsavel()}"/></li>
									<li>Empresa: <span th:text="${signer.getCertificate().getPkiBrazil().getCompanyName()}"/></li>
									<li>CNPJ: <span th:text="${signer.getCertificate().getPkiBrazil().getCnpjFormatted()}"/></li>
									<li>RG: <span th:text="${signer.getCertificate().getPkiBrazil().getRGNumero()}"/> <span th:text="${signer.getCertificate().getPkiBrazil().getRGEmissor()}"/> <span th:text="${signer.getCertificate().getPkiBrazil().getRGEmissorUF()}"/></li>
									<li>OAB: <span th:text="${signer.getCertificate().getPkiBrazil().getOabNumero()}"/> <span th:text="${signer.getCertificate().getPkiBrazil().getOabUF()}"/></li>
								</ul>
							</li>
						</ul>
					</p>
					<p th:if="${signer.getValidationResults() != null}">
						Validation results:<br/>
						<textarea style="width: 100%" rows="20" th:inline="text">[[${signer.getValidationResults().toString()}]]</textarea>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
