extends layout

block content

	h2 CAdES Signature
	
	form(id='signForm', method='POST')
		
		//- render the token that identifies the signature operation in a hidden field
		input(type='hidden', name='token', id='tokenInput' value=token)
		
		//- link to the file being signed
		.form-group
			label File to sign
			p
				| You are signing&nbsp;
				- if (userfile) {
					a(href='/app-data/' + userfile, target='_blank') this document
				- } else {
					a(href='/SampleDocument.pdf', target='_blank') this sample document
				- }
				| .
		
		//- Render a select (combo box) to list the user's certificates. For now it will be empty, we'll populate it
		//- later on (see javascript below).
		.form-group
			label(for='certificateSelect') Choose a certificate
			select(id='certificateSelect', class='form-control')
			
		//- Action buttons. Notice that the "Sign File" button is NOT a submit button. When the user clicks the button,
		//- we must first use the Web PKI component to perform the client-side computation necessary and only when
		//- that computation is finished we'll submit the form programmatically (see javascript below).
		button(id='signButton', type='button', class='btn btn-primary') Sign File
		| &nbsp;
		button(id='refreshButton', type='button', class='btn btn-default') Refresh Certificates

	script(src="/javascripts/signature-form.js")