{% extends "layout.html" %}

{% block content %}
<div class="container">

    <h2>REST PKI Samples</h2>
    Choose one of the following:
    <ul>
        <li><a href="/authentication">Authentication with digital certificate</a></li>
        <li>
            Create a PAdES signature
            <ul>
                <li><a href="/pades-signature">With a file already on server</a></li>
                <li><a href="/upload/pades-signature">With a file uploaded by user</a></li>
            </ul>
        </li>
        <li>
            Create a CAdES signature
            <ul>
                <li><a href="/cades-signature">With a file already on server</a></li>
                <li><a href="/upload/cades-signature">With a file uploaded by user</a></li>
            </ul>
        </li>
        <li>
            Create a XML signature
            <ul>
                <li><a href="/xml-signature/full">Full XML signature (enveloped signature)</a></li>
                <li><a href="/xml-signature/element">XML element signature</a></li>
            </ul>
        </li>
        <li>
            Batch signature
            <ul>
                <li><a href="/batch-pades-signature">Simple batch of PAdES signatures</a></li>
                <li><a href="/batch-cades-signature">Simple batch of CAdES signatures</a></li>
            </ul>
        </li>
    </ul>

</div>
{% endblock %}