{% extends "layout.html" %}

{% block content %}
<div class="container">

    <!-- Messages about the signature process will be rendered in here -->
    <div id="messagesPanel"></div>

	<h2>Batch of PAdES Signatures</h2>

	<form id="signForm" method="post">

		<div class="form-group">
            <label>File to sign</label>
            <p>
                You'll be signing the following files:
                <!--

                UL element to hold the batch's documents (we'll render
                these programatically, see batch-signature-form.js).

                -->
                <ul id="docList" />
            </p>
        </div>

		<!--

		Render a select (combo box) to list the user's certificates. For now it
		will be empty, we'll populate it later on (see batch-signature-form.js).

		 -->		
		<div class="form-group">
			<label for="certificateSelect">Choose a certificate</label>
			<select id="certificateSelect" class="form-control"></select>
		</div>

		<!--

		Action buttons. Notice that the "Sign Batch" button is NOT a submit
		button. When the user clicks the button, we must first use the Web PKI
		component to perform the client-side computation necessary and only when
		that computation is finished we'll submit the form programmatically
		(see batch-signature-form.js).

		-->
		<button id="signButton" type="button" class="btn btn-primary">Sign Batch</button>
		<button id="refreshButton" type="button" class="btn btn-default">Refresh Certificates</button>
	</form>

</div>

{% endblock %}

{% block scripts %}

<!--

The file below contains the JS lib for accessing the Web PKI component. For more
information, see: https://webpki.lacunasoftware.com/#/Documentation

-->
<script src="{{ url_for('static', filename='js/lacuna-web-pki-2.9.0.js') }}"></script>

<!--

The file below contains the logic for calling the Web PKI component. It is only
an example, feel free to alter it to meet your application's needs. You can also
bring the code into the javascript block below if you prefer.

-->
<script src="{{ url_for('static', filename='js/batch-signature-form.js') }}"></script>
<script>
    $(document).ready(function () {
        // Once the page is ready, we call the init() function on the javascript
        // code (see batch-signature-form.js)
        batchSignatureForm.init({
            documentsIds: {{ document_ids | tojson }},         // The IDs of documents.
            certificateSelect: $('#certificateSelect'), // The <select> element (combo box) to list the certificates.
            docList: $('#docList'),                     // The <ul> element that holds the batch's documents.
            refreshButton: $('#refreshButton'),         // The "refresh" button.
            signButton: $('#signButton'),               // The button that initiates the operation.
            sampleApi: 'batch-pades-signature'          // The API controller address to be direct request for PAdES actions.
        });
    });
</script>

{% endblock %}