<div class="container">

  <h2>An error occurred:</h2>
  <h3 style="color: darkred"><%= @errors['message'] %></h3>
  <ul>
    <li class="error">resourceName: <%= @errors['resourceName'] %></li>
    <li class="error">resourceId: <%= @errors['resourceId'] %></li>
  </ul>

</div>

