<h2>REST PKI samples in ASP.NET Core MVC</h2>

Choose one of the following samples:
<ul>
	<li><a href="/authentication">Authentication with digital certificate</a></li>
	<li>
		PAdES signature
		<ul>
			<li><a href="/pades-signature">Create a signature with a file already on server</a></li>
			<li><a href="/upload/pades-signature">Create a signature with a file uploaded by user</a></li>
			<li><a href="/upload/open-pades-signature">Open/validate an existing PAdES signature</a></li>
		</ul>
	</li>
	<li>
		CAdES signature
		<ul>
			<li><a href="/cades-signature">Create a signature with a file already on server</a></li>
			<li><a href="/upload/cades-signature">Create a signature with a file uploaded by user</a></li>
			<li><a href="/upload/open-cades-signature">Open/validate an existing CAdES signature</a></li>
		</ul>
	</li>
	<li>
		XML signature
		<ul>
			<li><a href="/xml-full-signature">Create a full XML signature (enveloped signature)</a></li>
			<li><a href="/xml-element-signature">Create a XML element signature</a></li>
            <li><a href="/upload/open-xml-signature">Open/validate signatures on an existing XML file</a></li>
		</ul>
	</li>
	<li>
		Sign a batch of files
		<ul>
			<li><a href="/batch-signature">Simple batch signature</a></li>
			<!--<li><a href="/batch-signature-optimized">Optimized batch signature</a> (better performance but more complex Javascript)</li>-->
		</ul>
	</li>
</ul>