<h2>PAdES Signature</h2>

<form role="form" ng-submit="sign()">

    <div class="form-group">
        <label>File to Sign</label>
        <p ng-if="userfile">You'll are signing <a href='Download/{{userfile}}' target="_blank">this document</a>.</p>
        <p ng-if="!userfile">You'll are signing <a href='Download/SampleDocument.pdf' target="_blank">this sample document</a>.</p>
    </div>

	<div class="form-group">
		<label for="certificateSelect">Choose a certificate</label>
		<select id="certificateSelect" ng-model="selectedCertificate" class="form-control" ng-options="getCertificateDisplayName(c) for c in certificates"></select>
	</div>

	<button type="submit" class="btn btn-primary">Sign</button>
	<button type="button" class="btn btn-default" ng-click="refresh()">Refresh Certificates</button>

</form>