{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2>XML Signature</h2>

	<p>File signed successfully! <a href="/files/{{ filename }}">Click here to download the signed file</a></p>

	<p>
		Signer information:
	<ul>
		<li>Subject: {{ signer_cert.subjectName.commonName }}</li>
		<li>Email: {{ signer_cert.emailAddress }}</li>
		<li>
			ICP-Brasil fields
			<ul>
				<li>Tipo de certificado: {{ signer_cert.pkiBrazil.certificateType }} </li>
				<li>CPF:  {{ signer_cert.pkiBrazil.cpf }}</li>
				<li>Responsavel: {{ signer_cert.pkiBrazil.responsavel }} </li>
				<li>Empresa: {{ signer_cert.pkiBrazil.companyName }} </li>
				<li>CNPJ: {{ signer_cert.pkiBrazil.cnpj }} </li>
			</ul>
		</li>
	</ul>
	</p>
</div>
{% endblock %}