<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="head"></head>
<body>

	<div th:replace="menu"></div>

	<div class="container">
		
		<h2>Lacuna PKI Samples</h2>
		<p>Choose one of the following samples:</p>
		<ul>
			<li><a href="/authentication">Authentication with digital certificate</a></li>
            <li>
                Create a PAdES signature
                <ul>
                    <li><a href="/pades-signature">With a file already on server</a></li>
                    <li><a href="/upload?goto=pades-signature">With a file uploaded by user</a></li>
                </ul>
            </li>
            <li>
                Create a CAdES signature
                <ul>
                    <li><a href="/cades-signature">With a file already on server</a></li>
                    <li><a href="/upload?goto=cades-signature">With a file uploaded by user</a></li>
                </ul>
            </li>
            <li>
                Create a XML signature
                <ul>
                    <li><a href="/xml-full-signature">Full XML signature (enveloped signature)</a></li>
                    <li><a href="/xml-element-signature">XML element signature</a></li>
                </ul>
            </li>
		</ul>

	</div>
</body>
</html>
