extends layout

block content
	h2 REST PKI Samples
	p Choose one of the following:
	ul
		//- li
		//-	a(href='authentication')Authentication with digital certificate</a></li>
		li Create a PAdES signature
			ul
				li
					a(href='pades-signature') With a file already on server
				li 
					a(href='upload?goto=pades-signature') With a file uploaded by user
		li Create a CAdES signature
			ul
				li 
					a(href='cades-signature') With a file already on server
				li 
					a(href='upload?goto=cades-signature') With a file uploaded by user
		li Create a XML signature
			ul
				li 
					a(href='xml-full-signature') Full XML signature (enveloped signature)
				li 
					a(href='xml-element-signature') XML element signature