doctype html
html
	head
		title REST PKI Samples
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/site.css')
body
	nav(class='navbar navbar-inverse navbar-fixed-top')
		div(class='container')
			div(class='navbar-header')
				button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span(class='sr-only') Toggle navigation
					span(class='icon-bar')
					span(class='icon-bar')
					span(class='icon-bar')
				a(class='navbar-brand', href='/') REST PKI Samples
			div(id='navbar', class='collapse navbar-collapse')
				ul(class='nav navbar-nav')
					li
						a(href='authentication') Authentication
					li(class='dropdown')
						a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') PAdES signature
							span(class='caret')
						ul(class='dropdown-menu')
							li
								a(href='pades-signature') With file already on server
								a(href='upload?goto=pades-signature') With file uploaded by user
								a(href='upload?goto=open-pades-signature') Open/validate existing signature
								a(href='upload?goto=pades-signature-server-key') Using a server key
					li(class='dropdown')
						a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') CAdES signature
							span(class='caret')
						ul(class='dropdown-menu')
							li
								a(href='cades-signature') With file already on server
								a(href='upload?goto=cades-signature') With file uploaded by user
								a(href='upload?goto=open-cades-signature') Open/validate existing signature
								a(href='upload?goto=cades-signature-server-key') Using a server key
					li(class='dropdown')
						a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') XML signatures
							span(class='caret')
						ul(class='dropdown-menu')
							li
								a(href='xml-full-signature') Full XML signature (enveloped signature)
								a(href='xml-element-signature') XML element signature

	div(class='container')
		if (userId)
			br
			p
				| You are signed in as&nbsp;
				b #{userId}&nbsp;
				a(href='sign-out') Sign Out

		block content

	script(src='/javascripts/jquery-1.11.3.js')
	script(src='/javascripts/jquery.blockUI.js')
	script(src='/javascripts/bootstrap.js')

	block scripts