extends layout

block content

    h2 PAdES Signature

    form(id='signForm', method='POST')

        //- Render the token that in a hidden input field.
        input(type='hidden', name='token', id='tokenInput' value=token)

        .form-group
            label File to sign
            p
                | You are signing&nbsp;
                if userfile
                    a(href=`/app-data/${userfile}`, target='_blank') this document
                else
                    a(href='/SampleDocument.pdf', target='_blank') this sample document
                | .

        //- Render a select (combo box) to list the user's certificates. For now it will be empty, we'll populate it
        //- later on (see signature-form.js).
        .form-group
            label(for='certificateSelect') Choose a certificate
            select(id='certificateSelect', class='form-control')

        //- Action buttons. Notice that the "Sign File" button is NOT a submit button. When the user clicks the button,
        //- we must first use the Web PKI component to perform the client-side computation necessary and only when
        //- that computation is finished we'll submit the form programmatically (see signature-form.js).
        button(id='signButton', type='button', class='btn btn-primary') Sign File
        | &nbsp;
        button(id='refreshButton', type='button', class='btn btn-default') Refresh Certificates

block scripts

    //- The file below contains the JS lib for accessing the Web PKI component. For more information, see:
    //- https://webpki.lacunasoftware.com/#/Documentation
    script(src="/javascripts/lacuna-web-pki-2.9.0.js")

    //- The file below contains the logic for calling the Web PKI component. It is only an example, feel free to alter
    //- it to meet your application's needs. You can also bring the code into the javascript block below if you prefer.
    script(src="/javascripts/signature-form.js")

    script.
       $(document).ready(function() {
          // Once the page is ready, we call the init() function on the javascript code (see signature-form.js).
          signatureForm.init({
             token: '#{token}',							 // The token acquired from REST PKI.
             form: $('#signForm'),					     // The form that should be submitted when the operation is completed.
             certificateSelect: $('#certificateSelect'), // The <select> element (combo box) to list the certificates.
             refreshButton: $('#refreshButton'),		 // The "refresh" button.
             signButton: $('#signButton')				 // The button that initiates the operation.
          });
       });