{% extends "layout.html" %}

{% block content %}
<div class="container">

	<h2>Authentication</h2>

	<form id="authForm" action="/authentication/action" method="post">

		<!-- Render the $token in a hidden input field. -->
		<input type="hidden" id="token" name="token" value="{{token}}">

		<!--

		Render a select (combo box) to list the user's certificates. For now it
		will be empty, we'll populate it later on (see signature-form.js).

		-->
		<div class="form-group">
			<label for="certificateSelect">Choose a certificate</label>
			<select id="certificateSelect" class="form-control"></select>
		</div>

		<!--

		Action buttons. Notice that the "Sign In" button is NOT a submit button.
		When the user clicks the button, we must first use the Web PKI component
		to perform the client-side computation necessary and only when that
		computation is finished we'll submit the form programmatically
		(see signature-form.js).

	 	-->
		<button id="signInButton" type="button" class="btn btn-primary">Sign In</button>
		<button id="refreshButton" type="button" class="btn btn-default">Refresh Certificates</button>
	</form>
</div>

{% endblock %}

{% block scripts %}

<!--

The file below contains the JS lib for accessing the Web PKI component. For more
information, see: https://webpki.lacunasoftware.com/#/Documentation

-->
<script src="{{ url_for('static', filename='js/lacuna-web-pki-2.9.0.js') }}"></script>

<!--

The file below contains the logic for calling the Web PKI component. It is only
an example, feel free to alter it to meet your application's needs. You can also
bring the code into the javascript block below if you prefer.

-->
<script src="{{ url_for('static', filename='js/signature-form.js') }}"></script>
<script>
    $(document).ready(function () {
        // Once the page is ready, we call the init() function on the javascript
        // code (see signature-form.js)
        signatureForm.init({
            token: '{{ token }}',                       // The token acquired from REST PKI.
            form: $('#authForm'),                       // The form that should be submitted when the operation is complete.
            certificateSelect: $('#certificateSelect'), // The <select> element (combo box) to list the certificates.
            refreshButton: $('#refreshButton'),         // The "refresh" button.
            signButton: $('#signInButton')              // The button that initiates the operation.
        });
    });
</script>

{% endblock %}
