<!DOCTYPE html>
<html>
<head>
	<link href="/static/css/bootstrap.css" rel="stylesheet" />
	<link href="/static/css/bootstrap-theme.css" rel="stylesheet" />
	<link href="/static/css/site.css" rel="stylesheet" />

	<!-- The file below contains the JS lib for accessing the Web PKI component. For more information, see:
	https://webpki.lacunasoftware.com/#/Documentation
	-->
	<script src="/static/js/lacuna-web-pki-2.9.0.js"></script>

	<script src="/static/js/jquery-1.11.3.js"></script>
	<script src="/static/js/jquery.blockUI.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<title>REST PKI Samples</title>
</head>
<body>
    {% include "menu.html" %}

	{% block content %}
	{% endblock %}
</body>
</html>
