<!DOCTYPE html>
<html>
<head>
	<link href="/static/css/bootstrap.css" rel="stylesheet" />
	<link href="/static/css/bootstrap-theme.css" rel="stylesheet" />
	<link href="/static/css/site.css" rel="stylesheet" />

	<script src="/static/js/jquery-1.11.3.js"></script>
	<script src="/static/js/jquery.blockUI.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<title>REST PKI Samples</title>
</head>
<body>
    {% include "menu.html" %}

	{% block content %}
	{% endblock %}
</body>
</html>
