{% extends "layout.html" %}

{% block content %}
<div class="container">
	<h2>XML Signature</h2>

	<p>File signed successfully! <a href="/files/{{ filename }}">Download the signed file</a></p>

	<p>
		Signer information:
        <ul>
            <li>Subject: {{ signer_cert.subject_name.common_name }}</li>
            <li>Email: {{ signer_cert.emailAddress }}</li>
            <li>
                ICP-Brasil fields
                <ul>
                    <li>Tipo de certificado: {{ signer_cert.pki_brazil.certificate_type }} </li>
                    <li>CPF:  {{ signer_cert.pki_brazil.cpf_formatted }}</li>
                    <li>Responsavel: {{ signer_cert.pki_brazil.responsavel }} </li>
                    <li>Empresa: {{ signer_cert.pki_brazil.company_name }} </li>
                    <li>CNPJ: {{ signer_cert.pki_brazil.cnpj_formatted }} </li>
                    <li>RG: {{ signer_cert.pki_brazil.rg_numero }} {{ signer_cert.pki_brazil.rg_emissor }} {{ signer_cert.pki_brazil.rg_emissor_uf }}</li>
                    <li>OAB: {{ signer_cert.pki_brazil.oab_numero }} {{ signer_cert.pki_brazil.oab_uf }}</li>

                </ul>
            </li>
        </ul>
	</p>
</div>
{% endblock %}