@using Lacuna.RestPki.SampleSite.Models
@model UploadModel
<h2>Upload a file</h2>

<form method="post" enctype="multipart/form-data">
	@Html.HiddenFor(m => m.ReturnController)
	<div class="form-group">
		<label>Select file:</label>
		<input type="file" name="userfile" class="form-control">
	</div>
	<button type="submit" class="btn btn-primary">Upload</button>
</form>
