<h2>REST PKI Samples</h2>
Choose one of the following samples:
<ul>
	<li>
		Authentication with digital certificate
		<ul>
			<li><a href="/Authentication">Authentication with browser interaction</a></li>
			<li><a href="/AuthenticationWithoutDirectCommunication">Authentication wihout a direct communication between REST PKI and Web PKI</a></li>
		</ul>
	</li>
	<li>
		PAdES signature
		<ul>
			<li><a href="/PadesSignature">Create a signature with a file already on server</a></li>
			<li><a href="/Upload?rc=PadesSignature">Create a signature with a file uploaded by user</a></li>
            <li><a href="/PadesSignatureWithoutDirectCommunication">Create a signature without direct communication between REST PKI and Web PKI</a></li>
			<li><a href="/Upload?rc=OpenPadesSignature">Open/validate an existing signature</a></li>
		</ul>
	</li>
	<li>
		CAdES signature
		<ul>
			<li><a href="/CadesSignature">Create a signature with a file already on server</a></li>
			<li><a href="/Upload?rc=CadesSignature">Create a signature with a file uploaded by user</a></li>
			<li><a href="/Upload?rc=OpenCadesSignature">Open/validate an existing CAdES signature</a></li>
		</ul>
	</li>
	<li>
		XML signature
		<ul>
			<li><a href="/XmlFullSignature">Create a full XML signature (enveloped signature)</a></li>
			<li><a href="/XmlElementSignature">Create a XML element signature</a></li>
			<li><a href="/XadesElementSignature">Create a XAdES element signature</a></li>
			<li><a href="/Upload?rc=OpenXmlSignature">Open/validate signatures on an existing XML file</a></li>
		</ul>
	</li>
	<li>
		Sign a batch of files
		<ul>
			<li><a href="/BatchSignature">Simple batch signature</a></li>
			<li><a href="/BatchSignatureOptimized">Optimized batch signature</a> (better performance but more complex Javascript)</li>
		</ul>
	</li>
	<li>
		Open existing PAdES signature with a B-Stamp&trade; (registered on Blockchain)
		<ul>
			<li><a href="/OpenPadesSignatureBStamp">Previously B-Stamped file</a></li>
			<li><a href="/Upload?rc=OpenPadesSignatureBStamp">File uploaded by user</a></li>
		</ul>
	</li>
</ul>
