<h2>Lacuna PKI Samples</h2>
Choose one of the following samples:
<ul>
	<li><a href="/Home/Authentication">Authentication with digital certificate</a></li>
	<li><a href="/Home/PadesSignature">Create a PAdES signature</a></li>
</ul>
