@*
	This is the page for CAdES signatures. Actual logic can be found at:
	- Client-side: Content/js/app/pades-signature.js
	- Server-side: Api/PadesSignatureController.cs
*@
<h2>PAdES Signature</h2>

<form>
	<div class="form-group">
		<label>File to sign</label>
		<p>You'll be signing <a href='/Signature/SampleDocument'>this sample document</a>.</p>
	</div>
	<div class="form-group">
		<label for="certificateSelect">Choose a certificate</label>
		<select id="certificateSelect" class="form-control"></select>
	</div>
	<button id="signButton" type="button" class="btn btn-primary">Sign File</button>
	<button id="refreshButton" type="button" class="btn btn-default">Refresh Certificates</button>
</form>

<fieldset id="validationResultsPanel" class="vr-panel">
	<legend>Validation Results</legend>
	<textarea readonly rows="25"></textarea>
</fieldset>

@section Scripts {
	@* Include the JS for using the Web PKI component for accessing the user's certificates on the browser *@
	<script src="@Url.Content("~/Content/js/lacuna-web-pki.js")"></script>
	<script src="@Url.Content("~/Content/js/app/pades-signature.js")"></script>
}
